.rule_container{
    width: 50%;
    margin: 100px auto;
}

.rule_container header{
    text-align: center;
    margin-bottom: 30px;
}

.rule_container table span{
    margin-right: 20px;
    cursor: pointer;
    color: #1890ff;
}
